<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
      crossorigin="anonymous" 
      referrerpolicy="no-referrer" 
    />
    <style>
        body { font-family: 'Poppins', sans-serif; }
    </style>
</head>
<body class="bg-gradient-to-t from-[hsl(0,0%,0%)] to-[hsl(0,0%,10%)]">
    <div class="flex flex-col w-full h-full bg-transparent">
        {% if user and user.is_authenticated %}
        <!-- sidebar  -->
        <div id="sidebar" class="fixed top-0 left-0 h-screen w-12 sm:w-16 md:w-20 flex flex-col bg-gradient-to-r from-[hsl(0,0%,5%)] to-[hsl(0,0%,10%)] pt-4 px-2 sm:px-3 space-y-3 sm:space-y-5 shadow-lg border border-[hsl(0,0%,30%)] border-r-[hsl(0,0%,50%)] z-30">
            <a href="{% url 'show_income' %}" class="flex items-center justify-center bg-[hsl(0,0%,20%)] p-1 sm:p-2 md:p-3 hover:bg-[hsl(0,0%,30%)] rounded-lg hover:bg-[hsl(0,0%,70%)] hover:rounded-full transition-all duration-500">
                <i class="fa-solid fa-money-bill-wave text-xl sm:text-2xl md:fa-2x text-[hsl(180,100%,60%)]"></i>
            </a>
            <a href="{% url 'add_expense' %}" class="flex items-center justify-center bg-[hsl(0,0%,20%)] p-1 sm:p-2 md:p-3 hover:bg-[hsl(0,0%,30%)] rounded-lg hover:bg-[hsl(0,0%,70%)] hover:rounded-full transition-all duration-500">
                <i class="fa-solid fa-arrow-up-right-from-square text-xl sm:text-2xl md:fa-2x text-[hsl(180,100%,60%)]"></i>
            </a>
            <a href="{% url 'add_budget' %}" class="flex items-center justify-center bg-[hsl(0,0%,20%)] p-1 sm:p-2 md:p-3 hover:bg-[hsl(0,0%,30%)] rounded-lg hover:bg-[hsl(0,0%,70%)] hover:rounded-full transition-all duration-500">
                <i class="fa-solid fa-wallet text-xl sm:text-2xl md:fa-2x text-[hsl(180,100%,60%)]"></i>
            </a>
            <a href="{% url 'dashboard' %}" class="flex items-center justify-center bg-[hsl(0,0%,20%)] p-1 sm:p-2 md:p-3 hover:bg-[hsl(0,0%,30%)] rounded-lg hover:bg-[hsl(0,0%,70%)] hover:rounded-full transition-all duration-500">
                <i class="fa-solid fa-chart-line text-xl sm:text-2xl md:fa-2x text-[hsl(180,100%,60%)]"></i>
            </a>   
            <a href="{% url 'password_change' %}" class="flex items-center justify-center bg-[hsl(0,0%,20%)] p-1 sm:p-2 md:p-3 hover:bg-[hsl(0,0%,30%)] rounded-lg hover:bg-[hsl(0,0%,70%)] hover:rounded-full transition-all duration-500">
                <i class="fa-solid fa-key text-xl sm:text-2xl md:fa-2x text-[hsl(180,100%,60%)]"></i>
            </a>   
        </div>
        <nav class="fixed top-0 ml-12 sm:ml-16 md:ml-20 w-[calc(100%-3rem)] sm:w-[calc(100%-4rem)] md:w-[calc(100%-5rem)] h-20 sm:h-16 md:h-20 flex flex-col items-center justify-center sm:flex-row sm:justify-between sm:px-3 bg-gradient-to-b from-[hsl(0,0%,5%)] to-[hsl(0,0%,10%)] shadow-lg border border-[hsl(0,0%,30%)] border-b-[hsl(0,0%,50%)] space-y-2 sm:space-y-0 sm:space-x-4 z-40">
            <div class="w-full sm:w-auto text-xl sm:text-2xl md:text-3xl font-bold tracking-tight bg-[hsl(272,100%,60%)] sm:rounded-md hover:bg-[hsl(272,50%,60%)] flex items-center whitespace-nowrap p-1 sm:p-2 md:p-3 border border-[hsl(0,0%,30%)] border-t-[hsl(0,0%,50%)] cursor-pointer transition">
                <i class="fa-solid fa-money-check text-2xl sm:text-3xl md:text-4xl mr-2"></i>
                Finance Tracker
            </div>
            <a href="{% url 'logout' %}" class="w-full text-lg sm:text-xl md:text-2xl font-bold tracking-tight bg-[hsl(272,100%,60%)] sm:rounded-md hover:bg-[hsl(272,50%,60%)] flex items-center whitespace-nowrap px-2 cursor-pointer transition">
                <i class="fa-solid fa-arrow-right-to-bracket text-xl sm:text-2xl md:text-3xl mr-2"></i>
                LogOut
            </a>
        </nav>
        {% endif %}
        <div class="ml-12 sm:ml-16 md:ml-20 w-[calc(100%-3rem)] sm:w-[calc(100%-4rem)] lg:w-[calc(100%-5rem)] min-h-screen bg-gradient-to-t from-[hsl(0,0%,5%)] to-[hsl(0,0%,10%)] border border-[hsl(0,0%,30%)] border-t-[hsl(0,0%,50%)] rounded-xl shadow-2xl p-3 sm:p-5 lg:p-10 flex flex-col items-center justify-center space-y-8 sm:space-y-14 animate-fade-in mt-12 sm:mt-14">
            <h1 class="text-[hsl(180,100%,60%)] text-3xl sm:text-4xl md:text-5xl font-bold leading-tight text-center py-6 sm:py-10">Dashboard</h1>
            <div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-3 sm:gap-4">
                <!-- Total Income -->
                <div class="min-h-[100px] bg-gradient-to-t from-[hsl(0,0%,5%)] to-[hsl(0,0%,10%)] border border-[hsl(0,0%,30%)] border-t-[hsl(0,0%,50%)] rounded-xl">
                    <div class="py-4 sm:py-6 md:py-8 text-center space-y-2 sm:space-y-4">
                        <p class="text-[hsl(0,0%,70%)] text-sm sm:text-base md:text-lg font-semibold tracking-wide leading-tight">TOTAL INCOME</p>
                        <p class="text-[hsl(120,100%,39%)] text-2xl sm:text-3xl md:text-4xl font-bold tracking-wide"><span class="leading-tight pr-1 sm:pr-2">$</span>{{total_income|floatformat:2}}</p>
                    </div>
                </div>
                
                <!-- Total Expense -->
                <div class="min-h-[100px] bg-gradient-to-t from-[hsl(0,0%,5%)] to-[hsl(0,0%,10%)] border border-[hsl(0,0%,30%)] border-t-[hsl(0,0%,50%)] rounded-xl">
                    <div class="py-4 sm:py-6 md:py-8 text-center space-y-2 sm:space-y-4">
                        <p class="text-[hsl(0,0%,70%)] text-sm sm:text-base md:text-lg font-semibold tracking-wide leading-tight">TOTAL EXPENSE</p>
                        <p class="text-[hsl(0,100%,39%)] text-2xl sm:text-3xl md:text-4xl font-bold tracking-wide"><span class="leading-tight pr-1 sm:pr-2">$</span>{{total_expense|floatformat:2}}</p>
                    </div>
                </div>
                
                <!-- Total Balance -->
                <div class="min-h-[100px] sm:col-span-2 bg-gradient-to-t from-[hsl(0,0%,5%)] to-[hsl(0,0%,10%)] border border-[hsl(0,0%,30%)] border-t-[hsl(0,0%,50%)] rounded-xl">
                    <div class="p-3 sm:p-4 md:p-6 flex flex-col sm:flex-row items-center justify-between h-full">
                        <div class="flex flex-col items-center sm:items-start space-y-1 sm:space-y-2 md:space-y-4 mb-3 sm:mb-0">
                            <p class="text-[hsl(0,0%,70%)] text-sm sm:text-base md:text-lg font-semibold tracking-wide leading-tight">TOTAL BALANCE</p>
                            <p class="text-[hsl(0,0%,95%)] text-2xl sm:text-3xl md:text-4xl font-bold tracking-wide"><span class="leading-tight pr-1 sm:pr-2">$</span>{{balance|floatformat:2}}</p>
                        </div>
                        <div class="w-full sm:w-1/2 flex items-center justify-center">
                            <div class="w-full h-6 sm:h-8 bg-[hsl(0,0%,90%)] rounded-full overflow-hidden">
                                <div id="balance-bar" class="w-0 h-full rounded-full transition-all duration-700"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Daily Expense Chart -->
                <div class="min-h-[300px] sm:min-h-[350px] col-span-1 sm:col-span-2 bg-gradient-to-t from-[hsl(0,0%,5%)] to-[hsl(0,0%,10%)] border border-[hsl(0,0%,30%)] border-t-[hsl(0,0%,50%)] rounded-xl">
                    <div class="flex flex-col items-center p-3 sm:p-4 md:p-6 space-y-2 sm:space-y-4 h-full">
                        <p class="flex items-center justify-start w-full text-[hsl(0,0%,80%)] text-lg sm:text-xl md:text-2xl font-bold">
                            Daily Expense
                        </p>
                        <div class="flex items-center justify-center w-full h-full overflow-hidden">
                            <canvas id="daily-expense-chart" class="w-full h-full"></canvas>
                        </div>
                    </div>
                </div>
                
                <!-- Expense Categories Chart -->
                <div class="min-h-[300px] sm:min-h-[350px] col-span-1 sm:col-span-2 bg-gradient-to-t from-[hsl(0,0%,5%)] to-[hsl(0,0%,10%)] border border-[hsl(0,0%,30%)] border-t-[hsl(0,0%,50%)] rounded-xl">
                    <div class="flex flex-col items-center p-3 sm:p-4 md:p-6 space-y-2 sm:space-y-4 h-full">
                        <p class="flex items-center justify-start w-full text-[hsl(0,0%,80%)] text-lg sm:text-xl md:text-2xl font-bold">
                            Expense Categories
                        </p>
                        <div class="flex items-center justify-center w-full h-full max-w-[400px] overflow-hidden">
                            <canvas id="expense-chart" class="w-full h-full"></canvas>
                        </div>
                    </div>
                </div>

                <!-- Budget Tracker -->
                <div class="min-h-[300px] sm:min-h-[350px] col-span-1 sm:col-span-2 bg-gradient-to-t from-[hsl(0,0%,5%)] to-[hsl(0,0%,10%)] border border-[hsl(0,0%,30%)] border-t-[hsl(0,0%,50%)] rounded-xl">
                    <div class="flex flex-col items-center p-3 sm:p-4 md:p-6 space-y-2 sm:space-y-4 h-full">
                        <p class="flex items-center justify-start w-full text-[hsl(0,0%,80%)] text-lg sm:text-xl md:text-2xl font-bold">
                            Budget Tracker
                        </p>
                        
                        {% for item in budget_tracker %}
                        <div class="flex flex-col w-full space-y-1 sm:space-y-2">
                            <div class="flex items-center justify-between w-full">
                                <p class="text-sm sm:text-base md:text-lg font-semibold text-[hsl(0,0%,70%)] tracking-tight">{{item.category}}</p>
                                <p class="text-xs sm:text-sm md:text-base font-semibold text-[hsl(0,0%,50%)] tracking-tight">{{item.expense_amount}}/ {{item.budget_amount}}<span class="ml-1 sm:ml-2 text-sm sm:text-lg font-bold tracking-wide text-[hsl(0,0%,60%)]">{{item.percentage|floatformat:2}}%</span></p>
                            </div>
                            <div class="w-full h-3 sm:h-4 md:h-5 bg-[hsl(0,0%,90%)] rounded-full overflow-hidden">
                                <div class="budget-bar w-0 h-full rounded-full bg-[{{item.colors}}] transition-all duration-700" data-percentage="{{item.percentage}}"></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                <!-- Recent Transactions -->
                <div class="min-h-[300px] sm:min-h-[350px] col-span-1 sm:col-span-2 bg-gradient-to-t from-[hsl(0,0%,5%)] to-[hsl(0,0%,10%)] border border-[hsl(0,0%,30%)] border-t-[hsl(0,0%,50%)] rounded-xl">
                    <div class="flex flex-col items-center p-3 sm:p-4 md:p-6 space-y-2 sm:space-y-4 h-full">
                        <p class="flex items-center justify-start w-full text-[hsl(0,0%,80%)] text-lg sm:text-xl md:text-2xl font-bold">
                            Recent Transactions
                        </p>
                        <div class="w-full h-full divide-y divide-gray-300 divide-solid overflow-x-auto">
                            <div class="grid grid-cols-4 min-w-[500px] text-center text-[hsl(0,0%,70%)] text-xs sm:text-sm md:text-lg font-bold py-2 sm:py-3">
                                <p>Date</p>
                                <p>Description</p>
                                <p>Category</p>
                                <p>Amount</p>
                            </div>
                            
                            {% for transaction in recent_transaction|slice:":4" %}
                                <div class="grid grid-cols-4 min-w-[500px] text-center text-[hsl(0,0%,60%)] text-xs sm:text-sm md:text-base font-semibold py-2 sm:py-3">
                                    <p>{{transaction.date}}</p>
                                    <p>{{transaction.name}}</p>
                                    <p>{{transaction.exp_category}}</p>
                                    <p><span class="mr-1">$</span>{{transaction.amount}}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-piechart-outlabels"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const budgetBar = document.querySelectorAll('.budget-bar')
        budgetBar.forEach(bar => {
            const percentage = bar.getAttribute('data-percentage')

            setTimeout(() => {
                bar.style.width = `${percentage}%`
            }, 100)
        })

        const incomeTotal = {{total_income|floatformat:2}}
        const expenseTotal = {{total_expense|floatformat:2}}
    
        const balanceBar = document.getElementById('balance-bar')
    
        let percentage = (expenseTotal/incomeTotal)* 100
        percentage = Math.min(100, percentage)
    
        balanceBar.style.width = `${percentage}%`
    
        if (percentage < 50) {
            balanceBar.className = 'w-0 h-full bg-[hsl(120,100%,39%)] rounded-full transition-all duration-700'
        } else if (percentage < 80) {
            balanceBar.className = 'w-0 h-full bg-[hsl(53,100%,47%)] rounded-full transition-all duration-700'
        } else{
            balanceBar.className = 'w-0 h-full bg-[hsl(0,100%,50%)] rounded-full transition-all duration-700'
        }
    
        setTimeout(() => {
            balanceBar.style.width = `${percentage}%`
        },100)

        function groupSmallExpenses(data, labels, threshold){
            const groupedData = []
            const groupedLabels = []
            const groupedColors = []
    
            const etc = {
                label: 'etc',
                value: 0,
                color: '#D1D5DB'
            }
            const colors = [
                '#10B981', '#3B82F6', '#A855F7', '#FBBF24',
                '#F87171', '#60A5FA', '#F97316', '#6366F1', '#E879F9'
            ];
    
            for (let i=0; i<data.length; i++) {
                if (data[i] <= threshold){
                    etc.value += data[i]
                } else{
                    groupedData.push(data[i])
                    groupedLabels.push(labels[i])
                    groupedColors.push(colors[i % colors.length])
                }
            }
    
            if(etc.value > 0){
                groupedData.push(etc.value)
                groupedLabels.push(etc.label)
                groupedColors.push(etc.color)
            }
    
            return {
                data: groupedData,
                labels: groupedLabels,
                colors: groupedColors
            }
        } 
    
        const expenseData = {{ exp_cat_values|safe }}
        const expenseLabels = {{ exp_cat_labels|safe }}
    
        const expenseCtx = document.getElementById('expense-chart')
    
        const grouped = groupSmallExpenses(expenseData, expenseLabels, 5)
    
        const expenseChart = new Chart(expenseCtx, {
            type: 'doughnut',
            data: {
                labels: grouped.labels,
                datasets: [{
                    data: grouped.data,
                    backgroundColor: grouped.colors
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                cutout: '60%',
                plugins: {
                    legend: {
                        display: true,
                        position: 'bottom',
                        align: 'start',
                        labels: {
                            usePointStyle: true,
                            pointStyle: 'circle',
                            boxWidth: 10,
                            color: 'hsl(0,0%,70%)',
                            font: {
                                size: 14,
                                weight: '500'
                            }, 
                            padding: 30
                        }
                    }
                }
            }
        })

        const expenseDate = {{ expense_dates|safe }};
        const expenseAmnt = {{ expense_amounts|safe }};

        const perDayExpCtx = document.getElementById('daily-expense-chart');

        const perDayExpChart = new Chart(perDayExpCtx, {
            type: 'line',
            data: {
                labels: expenseDate,
                datasets: [{
                    label: 'Expense',
                    data: expenseAmnt,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 3,
                    fill: true,
                    tension: 0.4,
                    pointBackgroundColor: '#fff',
                    pointBorderColor: 'rgba(255, 99, 132, 1)',
                    pointRadius: 6,
                    pointHoverRadius: 8
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        labels: {
                            color: 'hsl(0,0%,95%)',
                            font: {
                                size: 14,
                                weight: 'bold'
                            },
                            boxWidth: 20,
                            padding: 20
                        },
                        position: 'top',
                        align: 'end'
                    },
                    tooltip: {
                        backgroundColor: '#333',
                        titleColor: '#fff',
                        bodyColor: '#fff',
                        borderColor: '#fff',
                        borderWidth: 1,
                        cornerRadius: 8,
                        padding: 12
                    },
                    zoom: {
                        pan: {
                            enabled: true,
                            mode: 'x',
                            modifierKey: 'ctrl' // 👈 ctrl + drag to pan
                        },
                        zoom: {
                            wheel: {
                                enabled: true
                            },
                            pinch: {
                                enabled: true
                            },
                            mode: 'x'
                        }
                    }
                },
                scales: {
                    x: {
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 6, // Show max 6 x-labels
                            maxRotation: 45,  // Rotate if space is tight
                            minRotation: 30,
                            color: 'hsl(0,0%,70%)',
                            font: {
                                size: 12
                            }
                        },
                        grid: {
                            display: false
                        }
                    },
                    y: {
                        beginAtZero: true,
                        ticks: {
                            color: 'hsl(0,0%,70%)',
                            font: {
                                size: 12
                            },
                            callback: function(value) {
                                return value.toLocaleString(); // Format like 10,000
                            }
                        },
                        grid: {
                            color: 'hsl(0,0%,50%)',
                            borderDash: [4, 4]
                        }
                    }
                }
            }
        });

    })
</script>
</html>
