{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Tracker</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
      crossorigin="anonymous" 
      referrerpolicy="no-referrer" 
    />
    <style>
        body { font-family: 'Poppins', sans-serif; }
    </style>
</head>
<body class="bg-gradient-to-t from-[hsl(0,0%,0%)] to-[hsl(0,0%,10%)]">
    <div class="flex flex-col w-full h-full bg-transparent">
        {% if user and user.is_authenticated %}
        <!-- sidebar  -->
        <div id="sidebar" class="fixed top-0 left-0 h-screen w-12 sm:w-16 md:w-20 flex flex-col bg-gradient-to-r from-[hsl(0,0%,5%)] to-[hsl(0,0%,10%)] pt-4 px-2 sm:px-3 space-y-3 sm:space-y-5 shadow-lg border border-[hsl(0,0%,30%)] border-r-[hsl(0,0%,50%)] z-30">
            <a href="{% url 'show_income' %}" class="flex items-center justify-center bg-[hsl(0,0%,20%)] p-1 sm:p-2 md:p-3 hover:bg-[hsl(0,0%,30%)] rounded-lg hover:bg-[hsl(0,0%,70%)] hover:rounded-full transition-all duration-500">
                <i class="fa-solid fa-money-bill-wave text-xl sm:text-2xl md:fa-2x text-[hsl(180,100%,60%)]"></i>
            </a>
            <a href="{% url 'add_expense' %}" class="flex items-center justify-center bg-[hsl(0,0%,20%)] p-1 sm:p-2 md:p-3 hover:bg-[hsl(0,0%,30%)] rounded-lg hover:bg-[hsl(0,0%,70%)] hover:rounded-full transition-all duration-500">
                <i class="fa-solid fa-arrow-up-right-from-square text-xl sm:text-2xl md:fa-2x text-[hsl(180,100%,60%)]"></i>
            </a>
            <a href="{% url 'add_budget' %}" class="flex items-center justify-center bg-[hsl(0,0%,20%)] p-1 sm:p-2 md:p-3 hover:bg-[hsl(0,0%,30%)] rounded-lg hover:bg-[hsl(0,0%,70%)] hover:rounded-full transition-all duration-500">
                <i class="fa-solid fa-wallet text-xl sm:text-2xl md:fa-2x text-[hsl(180,100%,60%)]"></i>
            </a>
            <a href="{% url 'dashboard' %}" class="flex items-center justify-center bg-[hsl(0,0%,20%)] p-1 sm:p-2 md:p-3 hover:bg-[hsl(0,0%,30%)] rounded-lg hover:bg-[hsl(0,0%,70%)] hover:rounded-full transition-all duration-500">
                <i class="fa-solid fa-chart-line text-xl sm:text-2xl md:fa-2x text-[hsl(180,100%,60%)]"></i>
            </a>   
            <a href="{% url 'password_change' %}" class="flex items-center justify-center bg-[hsl(0,0%,20%)] p-1 sm:p-2 md:p-3 hover:bg-[hsl(0,0%,30%)] rounded-lg hover:bg-[hsl(0,0%,70%)] hover:rounded-full transition-all duration-500">
                <i class="fa-solid fa-key text-xl sm:text-2xl md:fa-2x text-[hsl(180,100%,60%)]"></i>
            </a>   
        </div>
        <nav class="fixed top-0 ml-12 sm:ml-16 md:ml-20 w-[calc(100%-3rem)] sm:w-[calc(100%-4rem)] md:w-[calc(100%-5rem)] h-20 sm:h-16 md:h-20 flex flex-col items-center justify-center sm:flex-row sm:justify-between sm:px-3 bg-gradient-to-b from-[hsl(0,0%,5%)] to-[hsl(0,0%,10%)] shadow-lg border border-[hsl(0,0%,30%)] border-b-[hsl(0,0%,50%)] space-y-2 sm:space-y-0 sm:space-x-4 z-40">
            <div class="w-full sm:w-auto text-xl sm:text-2xl md:text-3xl font-bold tracking-tight bg-[hsl(272,100%,60%)] sm:rounded-md hover:bg-[hsl(272,50%,60%)] flex items-center whitespace-nowrap p-1 sm:p-2 md:p-3 border border-[hsl(0,0%,30%)] border-t-[hsl(0,0%,50%)] cursor-pointer transition">
                <i class="fa-solid fa-money-check text-2xl sm:text-3xl md:text-4xl mr-2"></i>
                Finance Tracker
            </div>
            <div class="w-full sm:w-auto flex items-center justify-between whitespace-nowrap sm:justify-none space-x-2">
                <a href="{% url 'download_budget' %}" class="w-full text-lg sm:text-xl md:text-2xl font-bold tracking-tight text-[hsl(120,40%,20%)] bg-[hsl(120,40%,80%)] sm:rounded-md hover:bg-[hsl(120,40%,70%)] flex items-center px-2 cursor-pointer transition">
                    <i class="fa-solid fa-file-arrow-down text-xl sm:text-2xl md:text-3xl mr-2"></i>
                    Download Budget
                </a>
                <a href="{% url 'logout' %}" class="w-full text-lg sm:text-xl md:text-2xl font-bold tracking-tight bg-[hsl(272,100%,60%)] sm:rounded-md hover:bg-[hsl(272,50%,60%)] flex items-center whitespace-nowrap px-2 cursor-pointer transition">
                    <i class="fa-solid fa-arrow-right-to-bracket text-xl sm:text-2xl md:text-3xl mr-2"></i>
                    LogOut
                </a>
            </div>
        </nav>
    {% endif %}
    <div class="fixed inset-0 flex flex-col items-center justify-center backdrop-blur-2xl bg-gradient-to-t from-[hsl(0,0%,0%)] to-[hsl(0,0%,10%)]">
        <div>
            <h1 class="text-[hsl(0,0%,95%)] text-4xl font-bold leading-tight text-center py-8">Change Password</h1>
        </div>
        <form action="" method="post" class="w-[90%] max-w-md flex flex-col bg-gradient-to-b from-[hsl(0,0%,5%)] to-[hsl(0,0%,10%)] items-center p-8 space-y-5 border border-[hsl(0,0%,30%)] border-b-[hsl(0,0%,50%)] rounded-lg">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="text-center text-md font-semibold tracking-wider text-[hsl(0,100%,50%)]">
                    {% for error in form.non_field_errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <label for="{{form.old_password.id_for_label}}" class="text-2xl font-bold text-[hsl(0,0%,95%)]">Old Password</label>
            {{form.old_password|add_class:"text-lg text-[hsl(0,0%,90%)] bg-[hsl(0,0%,15%)] font-bold p-3 focus:outline-none focus:ring-2 focus:ring-[hsl(0,0%,30%)]"|attr:"placeholder:Old Password"|attr:"autocomplete:off"|attr:"required"}}
            {% if form.old_password.errors %}
                <p class="text-sm text-red-600 font-semibold">{{ form.old_password.errors.0 }}</p>
            {% endif %}

            <label for="{{form.new_password1.id_for_label}}" class="text-2xl font-bold text-[hsl(0,0%,95%)]">New Password1</label>
            {{form.new_password1|add_class:"text-lg text-[hsl(0,0%,90%)] bg-[hsl(0,0%,15%)] font-bold p-3 focus:outline-none focus:ring-2 focus:ring-[hsl(0,0%,30%)]"|attr:"placeholder:New Password1"|attr:"autocomplete:off"|attr:"required"}}
            {% if form.new_password1.errors %}
                <p class="text-sm text-red-600 font-semibold">{{ form.new_password1.errors.0 }}</p>
            {% endif %}

            <label for="{{form.new_password2.id_for_label}}" class="text-2xl font-bold text-[hsl(0,0%,95%)]">New Password2</label>
            {{form.new_password2|add_class:"text-lg text-[hsl(0,0%,90%)] bg-[hsl(0,0%,15%)] font-bold p-3 focus:outline-none focus:ring-2 focus:ring-[hsl(0,0%,30%)]"|attr:"placeholder:New Password2"|attr:"autocomplete:off"|attr:"required"}}
            {% if form.new_password2.errors %}
                <p class="text-sm text-red-600 font-semibold">{{ form.new_password2.errors.0 }}</p>
            {% endif %}

            <button type="submit" class="w-full bg-[hsl(0,0%,5%)] hover:bg-[hsl(0,0%,95%,0.3)] text-[hsl(0,0%,95%)] font-bold border border-[hsl(0,0%,95%)] px-6 py-2 rounded-lg">Change Password</button>
        </form>
    </div>
</body>
</html>
